<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:replace="fragments /header :: headerContent">
    </th:replace>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving the Youth</title>
    <link href="../../static/css/default.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/page.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="login-wrapper">
    <div class="login-container auto">
      <a href="../index.html" class="home-button"><img src="../../static/image/home-button.png"></a>
      <div class="login-content__box">
        <h2>회원가입</h2>
        <p>사용자 정보를 입력해주세요.</p>
        <form role="form" action="/members/new" th:object="${memberForm}" method="post" class="join-form__box">
          <div class="form-label__box">
            <label th:for="login_id">아이디</label>
            <input type="text" size=14 th:field="*{login_id}" placeholder="아이디를 입력하세요" class="input-style">
          </div>
          <div class="form-label__box">
            <label th:for="password">비밀번호</label>
            <input type="text" size=16 th:field="*{password}" placeholder="비밀번호를 입력하세요" class="input-style">
          </div>
          <div class="nav-item">
            <label class="label-title">관심있는 분야를 선택해주세요</label>
            <div class="checkbox-container">
              <input type="checkbox" th:field="*{status}" value="환경"> 환경
              <input type="checkbox" th:field="*{status}" value="직장인"> 직장인
              <input type="checkbox" th:field="*{status}" value="청년"> 청년
              <input type="checkbox" th:field="*{status}" value="퇴직"> 퇴직
              <input type="checkbox" th:field="*{status}" value="스포츠"> 스포츠
              <input type="checkbox" th:field="*{status}" value="사회적 약자"> 사회적 약자
              <input type="checkbox" th:field="*{status}" value="군인"> 군인
              <input type="checkbox" th:field="*{status}" value="가족"> 가족
              <input type="checkbox" th:field="*{status}" value="대학생"> 대학생
              <input type="checkbox" th:field="*{status}" value="학생"> 학생
            </div>
          </div>

          <div class="nav-item">
            <label th:for="interest" class="label-title">저축을 할 때(또는 하고 있다면) 월 저축 금액은 얼마인가요?</label>
            <input type="text" size=17 th:field="*{amount}" placeholder="만원단위로 적되 숫자만 적어주세요 ex)10만원 -> 10"
              class="input-style2">
          </div>
          <div class="nav-item">
            <label th:for="commodity_existence" class="label-title">저축의 주요 목적은 무엇인가요?</label>
            <input type="text" size=17 th:field="*{purpose}"
              placeholder="생활비 자금/ 결혼 자금/ 여행 자금  / 투자 자금 / 취미활동을 위한 자금 / 원하는 물건 구매 자금" class="input-style2">
          </div>
          <div class="nav-item">
            <label th:for="commodity" class="label-title">원하는 저축의 기간은?</label>
            <input type="text" size=9 th:field="*{period}" placeholder="원하시는 개월을 써주세요 ex)18개월 -> 18"
              class="input-style2">
          </div>
          <div class="nav-item">
            <label class="label-title">저축상품을 가입하게 된다면 가장 중요하게 생각하는 것이 무엇인가요?</label>
            <div class="checkbox-container">
              <input type="checkbox" th:field="*{important}" value="높은 금리"> 높은 금리
              <input type="checkbox" th:field="*{important}" value="해당 금융권에 대한 평판"> 해당 금융권에 대한 평판
              <input type="checkbox" th:field="*{important}" value="우대조건"> 우대조건
            </div>
          </div>
          <div class="nav-item">
            <label th:for="important" class="label-title">원하는 우대조건이 무엇인가요?</label>
            <input type="text" size=56 th:field="*{preferredCondition}"
              placeholder="실적 / 이체 / 정보 사용 동의 / 앱 사용 / 가입 중 중복 입력 가능" class="input-style2">
          </div>
          <div style="text-align: center;">
            <button type="submit" class="button">회원가입</button>
          </div>
        </form>
      </div>
    </div>
</body>

</html>