<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit my page</title>
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/page.css" rel="stylesheet" type="text/css" />
    <style>
        /* 회색 배경에 이미지 추가 */
        .sub-section {
            background-image: url('/images/sub-bg.jpg'); /* 원하는 이미지 경로로 수정 */
            background-size: cover;
            background-position: center;
            color: white;
            height: 250px; /* 원하는 높이로 설정 */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>

<body>
<header>
    <div class="header-wrapper">
        <div class="logo">
            <a href="/login">SMART SAVING GUIDE</a>
        </div>
        <ul class="header-menu">

            <li class="nav-item"><a href="/quiz">퀴즈</a></li>
            <li class="nav-item"><a href="/favoriteCommodity">관심상품</a></li>
            <li class="nav-item"><a href="/myPage/">마이페이지</a></li>
            <li class="nav-item"><a href="/logout">로그아웃</a></li>
            <li class="nav-item">
                <span th:text="${login_id} + '님 환영합니다!!'"></span>
            </li>
        </ul>
    </div>
</header>

<section class="sub-section sub3">
    <div class="content-wrapper">
        <h2 class="sub-title">마이페이지</h2>
        <p class="sub-text">고객님의 정보를 변경할 수 있습니다.</p>
    </div>
</section>

<div class="mypage-container">
    <div class="content-wrapper">
        <h2 class="mypage-title">정보 수정</h2>
        <div class="mypage-content">
            <form action="/myPage/correction" method="post">
                <table>
                    <tbody>
                    <tr>
                        <th>비밀번호</th>
                        <td><input type="password" id="password" name="password" placeholder="비밀번호"></td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td>
                            <div class="input-box">
                                <input type="checkbox" id="sex1" name="sex" value="남성"> 남성
                                <input type="checkbox" id="sex2" name="sex" value="여성"> 여성
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>연령대</th>
                        <td>
                            <div class="input-box">
                                <input type="checkbox" id="age1" name="age" value="20대"> 20대
                                <input type="checkbox" id="age2" name="age" value="30대"> 30대
                                <input type="checkbox" id="age3" name="age" value="40대이상"> 40대이상
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>관심사</th>
                        <td>
                            <div class="input-box">
                                <input type="checkbox" id="status1" name="status" value="환경"> 환경
                                <input type="checkbox" id="status2" name="status" value="직장인"> 직장인
                                <input type="checkbox" id="status3" name="status" value="청년"> 청년
                                <input type="checkbox" id="status4" name="status" value="퇴직"> 퇴직
                                <input type="checkbox" id="status5" name="status" value="스포츠"> 스포츠
                                <input type="checkbox" id="status6" name="status" value="사회적 약자"> 사회적 약자
                                <input type="checkbox" id="status7" name="status" value="군인"> 군인
                                <input type="checkbox" id="status8" name="status" value="가족"> 가족
                                <input type="checkbox" id="status9" name="status" value="대학생"> 대학생
                                <input type="checkbox" id="status10" name="status" value="학생"> 학생
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>저축 금액</th>
                        <td><input type="text" id="amount" name="amount" placeholder="만원 단위로 입력해주세요 예)10만원 -> 10"></td>
                    </tr>
                    <tr>
                        <th>저축 목적</th>
                        <td>
                            <div class="input-box">
                                <input type="checkbox" id="purpose1" name="purpose" value="생활비 자금"> 생활비 자금
                                <input type="checkbox" id="purpose2" name="purpose" value="결혼 자금"> 결혼 자금
                                <input type="checkbox" id="purpose3" name="purpose" value="여행 자금"> 여행 자금
                                <input type="checkbox" id="purpose4" name="purpose" value="투자 자금"> 투자 자금
                                <input type="checkbox" id="purpose5" name="purpose" value="취미 활동을 위한 자금"> 취미 활동을 위한 자금
                                <input type="checkbox" id="purpose6" name="purpose" value="원하는 물건 구매 자금"> 원하는 물건 구매 자금
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>선호 기간</th>
                        <td><input type="text" id="period" name="period" placeholder="개월 단위로 입력해주세요 예)12개월 -> 12"></td>
                    </tr>
                    <tr>
                        <th>중요하게 생각하는 것</th>
                        <td>
                            <div class="input-box">
                                <input type="checkbox" id="important1" name="important" value="높은 금리"> 높은 금리
                                <input type="checkbox" id="important2" name="important" value="해당 금융권에 대한 평판"> 해당 금융권에 대한 평판
                                <input type="checkbox" id="important3" name="important" value="우대조건"> 우대조건
                            </div>
                        <td>
                    </tr>
                    <tr>
                        <th>선호하는 우대조건</th>
                        <td>
                        <div class="input-box">
                            <input type="checkbox" id="preferredCondition1" name="preferredCondition" value="실적"> 실적
                            <input type="checkbox" id="preferredCondition2" name="preferredCondition" value="이체"> 이체
                            <input type="checkbox" id="preferredCondition3" name="preferredCondition" value="정보 사용 동의"> 정보 사용 동의
                            <input type="checkbox" id="preferredCondition4" name="preferredCondition" value="앱 사용"> 앱 사용
                            <input type="checkbox" id="preferredCondition5" name="preferredCondition" value="가입"> 가입
                        </div>
                        <td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">정보 수정</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
