<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit my page</title>
</head>
<body>
    <form action="/myPage/correction" method="post">
        <input type="password" id="password" name="password" placeholder="비밀번호">
        <br>
        <input type="text" id="status" name="status" placeholder="신분">
        <br>
        <input type="text" id="purpose" name="purpose" placeholder="저축 목적">
        <br>
        <input type="text" id="field" name="field" placeholder="분야">
        <br>
        <input type="text" id="preferredCondition" name="preferredCondition" placeholder="선호 우대조건">
        <br>
        <input type="text" id="amount" name="amount" placeholder="저축 금액">
        <br>
        <input type="text" id="period" name="period" placeholder="선호 기간">
        <br>
        <input type="text" id="important" name="important" placeholder="중요하게 생각하는 것 ">
        <br>

        <button type="submit" class="btn btn-primary">정보 수정</button>
    </form>
</body>
</html>