<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit my page</title>
</head>
<body>
    <form action="/myPage/correction" method="post">
        <input type="password" id="password" name="password" placeholder="비밀번호">
        <br>
        <input type="text" id="status" name="status" placeholder="신분">
        <br>
        <input type="text" id="interest" name="interest" placeholder="저축 상품 관심 유무">
        <br>
        <input type="text" id="commodity_existence" name="commodity_existence" placeholder="저축 상품 보유 여부">
        <br>
        <input type="text" id="commodity" name="commodity" placeholder="가지고 있는 저축상품">
        <br>
        <input type="text" id="period" name="period" placeholder="선호 기간">
        <br>
        <input type="text" id="important" name="important" placeholder="중요하게 생각하는 것 ">
        <br>

        <button type="submit" class="btn btn-primary">정보 수정</button>
    </form>
</body>
</html>