<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div th:each="member : ${member}">

            <p><strong>성별:</strong> <span th:text="${member.sex}"></span></p>
            <p><strong>연령대:</strong> <span th:text="${member.age}"></span></p>
            <p><strong>관심사:</strong> <span th:text="${member.status}"></span></p>
            <p><strong>저축 금액:</strong> <span th:text="${member.amount} + '만원'"></span></p>
            <p><strong>저축 목적:</strong> <span th:text="${member.purpose}"></span></p>
            <p><strong>선호기간:</strong> <span th:text="${member.period} + '개월'"></span></p>
            <p><strong>중요하게 생각하는 것:</strong> <span th:text="${member.important}"></span></p>
            <p><strong>선호하는 우대조건:</strong> <span th:text="${member.preferredCondition}"></span></p>

        </div>
        <form action="/myPage/correction" method="get">
            <button type="submit" class="btn btn-primary">정보 수정</button>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
