<!DOCTYPE html>
<html>
<head>
    <title>Neary Banks</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBKoMSsG9Bmlu3v3bmarA6lon0twBrHo&libraries=places"></script>
    <style>
        #bankSelect {
            max-height: 150px; /* 드롭다운의 최대 높이 설정 */
            overflow-y: auto; /* 세로 스크롤바 활성화 */
        }
    </style>
    <script>
        function initMap() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
              const userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              const map = new google.maps.Map(document.getElementById('map'), {
                center: userLocation,
                zoom: 15
              });

              const service = new google.maps.places.PlacesService(map);
              service.nearbySearch(
                {
                  location: userLocation,
                  radius: 5000,
                  type: ['bank']
                },
                (results, status) => {
                  if (status !== 'OK') return;

                  results.forEach((place) => {
                    if (!place.geometry || !place.geometry.location) return;

                    new google.maps.Marker({
                      map,
                      position: place.geometry.location,
                      title: place.name
                    });
                  });
                }
              );
            });
          } else {
            alert("Geolocation is not supported by this browser.");
          }
        }
    </script>
</head>
<body onload="initMap()">
<h1>가까운 은행 지점</h1>
<div id="map" style="height: 500px;"></div>

<div class="nav-right-items">
    <form action="/installment/bank" method="post">
        <label for="bankSelect">은행 선택:</label>
        <select id="bankSelect" name="nearest_bank">
            <option value="국민은행">국민은행</option>
            <option value="경남은행">경남은행</option>
            <option value="농협은행주식회사">농협은행주식회사</option>
            <option value="신한은행">신한은행</option>
            <option value="우리은행">우리은행</option>
            <option value="중소기업은행">중소기업은행</option>
            <option value="하나은행">하나은행</option>
            <option value="SBI저축은행">SBI저축은행</option>
            <option value="우리은행3">우리은행3</option>
            <!-- 추가적인 옵션 -->
        </select>
        <button type="submit" class="btn btn-primary">추천</button>
    </form>
</div>
</body>
</html>
